---
layout: _base.njk
title: Website Consultations
contentMode: contrast
eleventyNavigation:
  key: Website Consultations
  parent: Design Studio
---
{% from "_cta-card.njk" import ctaCard %}
{% from "_page-header.njk" import pageHeader %}
{{ pageHeader("websitevisit", "Like doctor's check-up, but for your website", "Book a website consultation and get sound expert advice") }}
<section class="flow has-gap-xs pretty" highlight-header>
    <h2 class="has-mb-xs">What you get</h2>
    <p>This is the fastest way to make sense of what's holding you back and talk about some practical solutions. Each session includes:</p>
    <div class="text">
        <ul class="flow has-gap-xs has-mt-s">
            <li><strong>Website review</strong><br><span class="dimmed">Completed before we talk and hyper-targeted to your areas of concern.</span></li>
            <li><strong>1 hour of dedicated time</strong><br><span class="dimmed">Grill me and learn what needs fixing about your website.</span></li>
            <li><strong>List of recommended next steps</strong><br><span class="dimmed">Concise and ranked by impact and what's feasible for you/your team.</span></li>
        </ul>
    </div>
</section>
<section class="flow has-gap-m" highlight-header>
    <h2 >Sounds familiar?</h2>
        <ul class="flow has-gap-xs pretty">
            <li class="card">You sense sales are leaking somewhere but can't prove it.</li>
            <li class="card">In searches, you rank below smaller or less established competitors.</li>
            <li class="card">You keep being asked questions that your site should answer.</li>
        </ul>
</section>

<section class="flow has-gap-s pretty" highlight-header>
    <h2 class="has-mb-2xs">Pricing</h2>
        <p>How much would it cost to know where your website is falling short? Or to get guidance that saves you months of trial and error? The insights may hard to price, but the consultation isn't.</p>
        <p><strong>£225</strong></p>
        <p>Gets you a targeted website review followed by a 1-hour consultation, and ending with recommended next steps you can act on immediately.</p>
    <a href="https://cal.com/francescoimola/consultation" rel="noopener noreferrer" target="_blank">Book a consultation</a>
</section>

<section class="flow has-gap-xs pretty text" highlight-header>
    <h2 class="has-mb-xs">Things we can cover</h2>
        <ol class="flow has-gap-m has-mt-s">
            <li><strong>Words & Design</strong><br><span class="dimmed">Pointers on how to improve your website design and copywriting, or how to better align these elements with your brand.</span></li>
            <li><strong>UX & Infrastructure</strong><br><span class="dimmed">Navigation problems, SEO basics, poorly sized media, and other snags that affect conversions, accessibility and site speed.</span></li>
            <li><strong>Missed opportunities</strong><br><span class="dimmed">Ways to highlight services or products, leverage testimonials, and whatever pertains to your particular case.</span></li>
            <li><strong>Next steps</strong><br><span class="dimmed">1-4 specific actions ranked by long-term impact, what to fix first, what you can handle yourself, and what's not worth your time.</span></li>
        </ol>
</section>

<section class="flow has-gap-xs" highlight-header>
    <h2 class="has-mb-xs">Is this for me?</h2>
                <div class="card flow has-gap-xs text">
                    <h3>Absolutely yes if</h3>
                    <ul class="flow has-gap-xs pretty">
                        <li >You have big plans for your website or marketing, but can't start because you’re overwhelmed.</li>
                        <li>You want to know what changes are actually going to move the needle.</li>
                        <li >You're tired of generic tips, and need advice tailored to your situation.</li>
                    </ul>
                </div>
                <div class="card flow has-gap-xs text">
                    <h3>Probably not if</h3>
                    <ul class="flow has-gap-xs pretty">
                        <li >You have big plans for your website or marketing, but can't start because you’re overwhelmed.</li>
                        <li >You want to know what changes are actually going to move the needle.</li>
                        <li >You're tired of generic tips, and need advice tailored to your situation.</li>
                    </ul>
                </div>
</section>

{{ ctaCard(
    "Learn what’s holding your website back",
    "Previous clients have left with less stress, less to do, and less confusion about what was holding them back. You could be one of them."
) }}

<section class="flow has-gap-s pretty" highlight-header>
    <h2 class="has-mb-xs">Consultation FAQs</h2>
    <details>
        <summary>Will it be a long process?</summary>
        <p>No, this is a pretty straightforward website health check for busy people who want answers quickly. There is no admin beside the actual meeting. I just need 5 minutes of your time to complete a short questionnaire which I'll send to you immediately after booking.</p>
    </details>
    <hr>
    <details>
        <summary>How thorough is the website review?</summary>
        <p>The website review is thorough but not exhaustive. Before the session, I will spend up to 4 hours auditing your website to get a rounded idea of what it is doing well and what needs work. I will focus my review on the area you told me you're struggling with the most (e.g. SEO, UX, UI, or something else).</p>
    </details>
    <hr>
     <details>
        <summary>What makes this different from a free website report?</summary>
        <p>There are always so many best practices to read about, and everyone has soooo many ideas on how you can improve things! Then there are the endless “free” website reports or “health checks” that often overwhelm you with flaws in your site and then offer to fix them for a fee.</p>
        <p>A paid consultation with me is different. I have no marketing funnel to shove you in, no SEO packages to upsell, no account manager waiting to "onboard" you. And you won’t be left decoding a 17-page audit on your own. 
        The consultation is the whole thing. You'll leave with a concise to-do list, a lot of encouragement, and a clear idea of what to prioritise and what to skip. And if we never speak again, that's a perfectly good outcome.</p>
    </details>
    <hr>
    <details>
        <summary>Do you guarantee results?</summary>
        <p>I can't promise results, but I can promise to do my absolute best to help you improve your website based on my experience and the research I'll do. You should be wary of anyone who claims guaranteed results because every situation is different and running a business is not a science.</p>
    </details>
    <hr>
     <details>
        <summary>What if I need to cancel?</summary>
        <p>Life happens. You can cancel free of charge up to 72 hours before the session. After that, no refunds are available, as I'll have already invested time reviewing your website. If you need to reschedule with less than 24 hours notice, I'll be happy to find another time.</p>
    </details>
    <hr>
    <details>
        <summary>I can’t afford this, can you offer a discount?</summary>
        <p>Consulting fees can be a lot to take in, but rest assured. the work I do is carried out to strengthen your business. This means the result should make you money rather than cost you money, and will typically pay for itself. If you're struggling financially, I'm happy to chat about payment plans.</p>
    </details>
</section>
