---
layout: _base.njk
title: Graphic & Web Design
contentMode: contrast
eleventyNavigation:
  key: Graphic & Web Design
  parent: Design Studio
---
{% from "_cta-card.njk" import ctaCard %}
<header class="card flow has-justify-between has-gap-s has-items-center has-text-center" view-animation="settle">
    {% icon "deskgarden" %}
    <h1>Unapologetically simple websites<br>
    <span class="dimmed">For small businesses and social enterprises</span></h1>
</header>
<section class="flow has-gap-s" hlight-section-h>
    <h2 class="has-mb-xs">What you get</h2>
    <p>Give your people what they need, at last: a website that says it like it is.</p>
    <p>With a design so confident you'll be wishing the whole web was built this way. AND unignorable copy that tells your story like it's meant to be told.</p>
    <a href="https://cal.com/francescoimola/intro" rel="noopener noreferrer" target="_blank">Book a free intro<a>
</section>
<figure view-animation="breakout">
    <img src="/assets/portfolio/OAF_Homepage.png" alt="Open Art Folke website homepage" width="1080" height="auto">
    <figcaption><a href="https://openartfolke.com" rel="noopener noreferrer" target="_blank">openartfolke.com</a></figcaption>
</figure>
<section class="flow has-gap-s text" hlight-section-h>
    <h2 class="has-mb-2xs">Always included</h2>
    <ol class="flow has-gap-s">
        <li>
            <strong>Research</strong>
            <span class="dimmed"><br>Tailored to your project and target audience.</span></li>
        <li>
            <strong>Design</strong>
            <span class="dimmed"><br>Mobile responsive, accessible, and SEO-friendly.</span></li>
        <li>
            <strong>Copywriting</strong>
            <span class="dimmed"><br>Written with the outmost care and honesty.</span></li>
        <li>
            <strong>No-code development</strong>
            <span class="dimmed"><br>In my platform of choice, or yours.</span></li>
        <li>
            <strong>Launch strategy</strong>
            <span class="dimmed"><br>Feel ready to launch with 1:1 guidance.</span></li>
    </ol>
</section>

<section hlight-section-h>
    <h2 class="has-mb-m">Investment</h2>
    <div class="flow has-gap-xl pretty">
        <p>How many hours have you spent trying to fix your broken website? How many more will you spend if nothing changes? I can't tell you exactly what a functioning website is worth to your business, but I can tell you what it costs to stop fighting the one you have:</p>
        <ul class="flow has-gap-m">
            <li class="flow-row has-gap-m has-items-start has-pb-m has-row-divider">
                <div class="flow has-gap-3xs has-flex-1">
                    <p>Website with CMS</p>
                    <p class="dimmed">Ideal if you publish often.</p>
                </div>
                <p class="dimmed has-nowrap">from £2,500</p>
            </li>
            <li class="flow-row has-gap-m has-items-start has-pb-m has-row-divider">
                <div class="flow has-gap-3xs has-flex-1">
                    <p>Static website (no CMS)</p>
                    <p class="dimmed">Ideal for those looking for a simple solution.</p>
                </div>
                <p class="dimmed has-nowrap">from £2,000</p>
            </li>
            <li class="flow-row has-gap-m has-items-start has-pb-m has-row-divider">
                <div class="flow has-gap-3xs has-flex-1">
                    <p>One pager</p>
                    <p class="dimmed">Up to 10 sections on a single page.</p>
                </div>
                <p class="dimmed has-nowrap">from £700</p>
            </li>
            <li class="flow-row has-gap-m has-items-start has-pb-m has-row-divider">
                <div class="flow has-gap-3xs has-flex-1">
                    <p>Design only (handover)</p>
                    <p class="dimmed">I design and write, you take care of the build.</p>
                </div>
                <p class="dimmed has-nowrap">from £1,500</p>
            </li>
        </ul>
        <div class="flow has-gap-3xs">
            <small class="dimmed">All prices are starting points. You'll get an exact quote before we start.</small>
        </div>
    </div>
</section>

<figure view-animation="breakout">
    <img src="/assets/portfolio/the_collective_homepage.png" alt="concept for a new homepage for and acoustic distributor" width="1080" height="auto">
    <figcaption>Concept commissioned by The Collective</figcaption>
</figure>

<section class="flow has-gap-s" hlight-section-h>
    <h2 class="has-mb-xs">Wait a minute, isn’t the web, like... dead?</h2>
    <p>The old web, the one of clicking blue links until you get to an answer is fading. Discovery is happening more through social, AI answers, and zero-click search. BUT...</p>
    <p>The website remains the owned destination where a customer can verify credibility, read up on all the details, and take action. It’s no surprise, in fact, that together with blogging and SEO, websites remain top ROI-generating channels.</p>
    <p>And yet, I have seen innumerable people squander way too much money on sloppy approaches that inevitably confuse people and ruin their reputation.</p>
    <p>Here’s to that not happening again. Cheers!</p>
</section>

{{ ctaCard(
    "Let's talk about your website",
    "Tell me everything, I'll tell you if I can help."
) }}

<section class="flow has-gap-s pretty" hlight-section-h>
    <h2 class="has-mb-xs-s">Infrequently asked questions</h2>
    <details>
        <summary>What platforms do you build on?</summary>
        <p>I'm a primarily no-code developer and I like to work in Framer or Webflow.</p>
        <p>However, I'm not too precious about what platform is best, and if you’ve already committed to a CMS or website-builder, I can usually adapt as most platforms work on similar principles.</p>
        <p class="has-pb-s">When it comes to design, analytics and email marketing, I like to keep an open mind. This lets us bring in other specialised tools to help us stay productive and meet project goals (don't worry you won't be forced to use anything you haven't agreed to).</p>
    </details>
    <hr>
    <details>
        <summary>How long does a website take to make?</summary>
        <p class="has-pb-s">Most websites take 4-10 weeks depending on scope; this includes research, design and development. Whatever you have in mind, we can establish a timeline together before we start.</p>
    </details>
    <hr>
    <details class="text">
        <summary>What does the process look like?</summary>
        <ol class="flow has-gap-s has-pb-s">
            <li>We start with a free, short introductory call to talk through your project, see if we're a good fit, and ballpark the cost.</li>
            <li>I'll write a brief and a quote based on what we discussed. If you're happy to go ahead, approve it and pay the deposit. I'll get to work right away.</li>
            <li>We move from research to writing the content to designing. I'll share drafts at key milestones, so you get to see progress early. Give me your feedback within a week, and I'll revise until you're happy.</li>
            <li>Once you're satisfied with the final content and design, I build the website on the platform we've chosen and test it thoroughly.</li>
            <li>The day has come when I hand you the keys! Unless we've agreed otherwise, you will get access to the website back-end, all the final assets, and there are no more payments to be made from here on out.</li>
        </ol>
    </details>
    <hr>
    <details>
        <summary>What happens if I don't like the result?</summary>
        <p>At each milestone, we'll either meet to review progress or I'll send you what I created so far. If there's anything that's not quite there, you can ask me to make any revisions and I'll work with you to get it right.</p>
        <p>The first revision round is free. After that, I charge £250 for each additional revision.</p>
        <p class="has-pb-s">You also have 14 days from the start to change your mind. It's rare, but it can happen and I won't hold you to it. If you cancel, at any time, you'll need to pay me for the time I already spent on the project.</p>
    </details>
    <hr>
    <details>
        <summary>Can you help with SEO and GEO?</summary>
        <p>I always make sure that the websites I build are readable by real people first. By design, this approach helps make sure search engines and AI chatbots find your content valuable as well.</p>
        <p>Wherever possible, I  take care to build sites with valid HTML, the right structure, fast loading times and Lighthouse scores of 95+ (for SEO). I also let you customise the content that each page displays in the search results.</p>
        <p>As part of any website commission, you can upgrade to get a detailed SEO analysis of your competitors' websites. This means looking at over 10 years of data to find tactics and content ideas worth copying, and it includes a plan to help you implement any changes that are needed.</p>
    </details>
</section>