---
layout: _base.njk
title: Website Consultations
contentMode: contrast
eleventyNavigation:
  key: Website Consultations
  parent: Design Studio
---
{% from "_cta-card.njk" import ctaCard %}
{% include "_breadcrumb.njk" %}
<h1>Like doctor's check-up, but for your website<br><span class="dimmed">A website consultation gets you sound expert advice</span></h1>
<section class="flow has-gap-xs pretty" hlight-section-h>
    <h2 class="has-mb-s">What you get</h2>
    <p>This is the fastest way to make sense of what's holding you back and talk about some practical solutions. Each session includes:</p>
    <div class="text">
        <ul class="flow has-gap-xs has-mt-s">
            <li><strong>Website review</strong><br><span class="dimmed">Completed before we talk and hyper-targeted to your areas of concern.</span></li>
            <li><strong>1 hour of dedicated time</strong><br><span class="dimmed">Grill me and learn what needs fixing about your website.</span></li>
            <li><strong>List of recommended next steps</strong><br><span class="dimmed">Concise and ranked by impact and what's feasible for you/your team.</span></li>
        </ul>
    </div>
</section>
<section class="flow has-gap-m" hlight-section-h>
    <h2 >Sound familiar?</h2>
        <ul class="flow has-gap-xs pretty">
            <li class="card">You sense sales are leaking somewhere but can't prove it.</li>
            <li class="card">In searches, you rank below smaller or less established competitors.</li>
            <li class="card">You keep being asked questions that your site should answer.</li>
        </ul>
</section>

<section class="flow has-gap-s pretty" hlight-section-h>
    <h2 class="has-mb-s">Pricing</h2>
        <p>How much would it cost to know where your website is falling short? Or to get guidance that saves you months of trial and error? The insights may hard to price, but the consultation isn't.</p>
        <p><strong>£225</strong></p>
        <p>Gets you a targeted website review followed by a 1-hour consultation, and ending with recommended next steps you can act on immediately.</p>
    <a href="https://cal.com/francescoimola/website-consultation" rel="noopener noreferrer" target="_blank">Book a consultation</a>
</section>
