<!DOCTYPE html>
<html lang="en"{% if brand %} data-brand="{{ brand }}"{% endif %}>
{% include "_head.njk" %}
<body>
  <div class="layout"{% if contentMode == "contrast" %} data-content="contrast"{% endif %}>
    <aside class="sidebar">
      {%- include "_header.njk" -%}
      <div class="desktop-only">{%- include "_footer.njk" -%}</div>
    </aside>
    <div class="content">
      <main {% if page.url == "/" %}class="flow-row has-gap-s-m " data-max-width="false"{% else %}class="flow"{% endif %}>{{ content | safe }}</main>
      <div class="mobile-only">{%- include "_footer.njk" -%}</div>
    </div>
  </div>
  <script src="/assets/app-core.js" defer></script>
</body>
</html>
