<!DOCTYPE html>
<html lang="en">
{% include "_head.njk" %}
<body>
  <div class="layout" data-theme="{{ theme | default('orange') }}" data-content="{{ contentMode | default('contrast') }}">
    <aside class="sidebar">
      {%- include "_header.njk" -%}
      {%- include "_footer.njk" -%}
    </aside>
    <div class="content">
      <main class="flow has-gap-3xl has-pb-2xl">{{ content | safe }}</main>
    </div>
  </div>
  <script src="/assets/app-core.js" defer></script>
</body>
</html>
