{# _footer.njk #}
<footer class="desktop-only page-margins flow has-gap-2xs">
        <p>Up for a chat?</p>
        <a href="mailto:francesco@imola.dev" data-icon-before>francesco@imola.dev</a>
        <button type="button" data-copy-email="francesco@imola.dev" data-icon-before="copy">Copy email</button>
        <p role="status" class="sr-only" data-copy-status></p>
        <a href="https://cal.com/francescoimola/intro" data-icon-before rel="noopener noreferrer" target="_blank">Book intro call</a>
</footer>

<footer class="mobile-only page-margins flow-row">
    <div class="flow has-gap-2xs">
            <p>Up for a chat?</p>
            <a href="mailto:francesco@imola.dev" data-icon-before>francesco@imola.dev</a>
            <button type="button" data-copy-email="francesco@imola.dev" data-icon-before="copy">Copy email</button>
            <p role="status" class="sr-only" data-copy-status></p>
            <a href="https://cal.com/francescoimola/intro" data-icon-before rel="noopener noreferrer" target="_blank">Book intro call</a>
    </div>
    <nav class="flow has-gap-3xs">
          <a href="/studio/design/">Website design</a>
          <a href="/studio/">All services</a>
          <a href="/writing/">Writing</a>
          <a href="/art/">Artmaking</a>
          <a href="/collaborate/">Collaborate</a>
          <a href="/about/">About</a>
    </nav>
</footer>