{# _footer.njk #}
<footer class="page-margins flow has-gap-2xs">
    <p>Up for a chat?</p>
    <p><a href="mailto:francesco@imola.dev">Copy email</a>,
    <a href="https://cal.com/francescoimola/intro" rel="noopener noreferred" target="_blank">Book intro call</a></p>
</footer>
