{# _header.njk #}
<nav>
    <a href="/">Francesco Imola</a>
    <ul class="flow has-gap-2xs has-mb-xs-s">
        <li><a href="/"{{ ' aria-current="page"' | safe if page.url == '/' }}>Home</a></li>
        <li><a href="/studio/"{{ ' aria-current="page"' | safe if page.url == '/studio/' }}>Design Studio</a></li>
        <li><a href="/work/"{{ ' aria-current="page"' | safe if page.url == '/work/' }}>Selected Work</a></li>
        <li><a href="/writing/"{{ ' aria-current="page"' | safe if page.url == '/writing/' }}>Writing</a></li>
        <li><a href="/art/"{{ ' aria-current="page"' | safe if page.url == '/art/' }}>Artmaking</a></li>
        <li><a href="/contact/"{{ ' aria-current="page"' | safe if page.url == '/contact/' }}>Contact</a></li>
    </ul>
</nav>