{# _header.njk #}
<nav>
    <a href="/">Francesco Imola</a>
    <ul class="flow has-gap-2xs">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Studio Services</a></li>
        <li><a href="/work">Selected Work</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/art">Artmaking</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
