{% macro pageHeader(iconName, label, blurb) %}
<header class="card flow has-gap-s has-items-center has-text-center" view-animation="settle" 
style=" padding-block-start: 0;
        padding-block-end: var(--space-l-xl);">
    {% icon iconName %}
    <div class="flow has-gap-3xs has-items-center has-text-center balance">
      <h1>{{ label }}</h1>
      <p style="max-inline-size: calc(4*var(--space-4xl));">{{ blurb }}</p>
    </div>
  </header>
{% endmacro %}
