{% macro projectItem(title, services, image, alt, url="") %}
<article class="project-item">
  {% if url %}<a class="project-item__media" href="{{ url }}">{% endif %}
    <img class="project-item__img" src="{{ image }}" alt="{{ alt }}">
  {% if url %}</a>{% endif %}
  <div class="project-item__body">
    <div class="flow has-gap-3xs">
      <h2>{{ title }}</h2>
      <p class="project-item__services">{{ services }}</p>
    </div>
    {% if url %}
    <a class="project-item__cta" href="{{ url }}">Read case study</a>
    {% endif %}
  </div>
</article>
{% endmacro %}
