{% macro serviceCard(title, url, description, type = "default") %}
{% if type == "accordion" %}
<details class="card service">
    <summary><h3>{{ title }}</h3></summary>
    <div class="flow has-gap-s has-py-xs">
        <p>{{ description }}</p>
        <a data-icon="email" href="{{ url }}">Enquire</a>
    </div>
</details>
{% else %}
<a href="{{ url }}" class="card flow service has-gap-xs">
    {% if type != "adhoc" %}
    <h3 class="has-pb-2xl">{{ title }}</h3>
    {% else %}
    <h3>{{ title }}</h3>
    {% endif %}
    <p>{{ description }}</p>
    {% if type == "adhoc" %}
    <span data-icon="email">Enquire</span>
    {% else %}
    <span data-icon="arrow-right">Learn more</span>
    {% endif %}
</a>
{% endif %}
{% endmacro %}
