---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading";
import { Text, Button, Flex } from "@radix-ui/themes";
import { ArrowDownIcon } from "@radix-ui/react-icons";
---

<Layout backgroundColor="var(--orange-5)">
    <!-- Hero Section -->
    <PageHeading slot="heading"> Website consultations </PageHeading>
    <Text slot="role" size="3" weight="medium">
        Problems with your website?
    </Text>
    <Flex slot="description" direction="column" gap="5" width="75%">
        <Text size="3" as="p">
            The fastest way to get clarity on what's holding your site back is
            booking a consultation. Each includes a website review and 1 hour of
            dedicated time to ask questions and find out exactly what needs
            fixing (or what's fine as it is).
        </Text>
        <Button
            size="3"
            variant="soft"
            color="gray"
            style={{ alignSelf: "flex-start" }}
        >
            Scroll to learn more <ArrowDownIcon />
        </Button>
    </Flex>
</Layout>
