---
import { Flex, Text, Link } from "@radix-ui/themes";
---

<Flex direction="column" gap="4" {...Astro.props}>
    <Text size="3" weight="medium" highContrast>Skip to</Text>
    <ol class="anchor-list">
        <Flex asChild gap="2" align="center">
            <li value="1">
                <Text size="3" color="gray">1</Text>
                <Link href="#intro" size="3" underline="hover" highContrast
                    >Intro</Link
                >
            </li>
        </Flex>
        <Flex asChild gap="2" align="center">
            <li value="2">
                <Text size="3" color="gray">2</Text>
                <Link href="#principles" size="3" underline="hover" highContrast
                    >Principles</Link
                >
            </li>
        </Flex>
        <Flex asChild gap="2" align="center">
            <li value="3">
                <Text size="3" color="gray">3</Text>
                <Link href="#tools" size="3" underline="hover" highContrast
                    >Tools</Link
                >
            </li>
        </Flex>
        <Flex asChild gap="2" align="center">
            <li value="4">
                <Text size="3" color="gray">4</Text>
                <Link
                    href="#sustainability"
                    size="3"
                    underline="hover"
                    highContrast>Sustainability</Link
                >
            </li>
        </Flex>
        <Flex asChild gap="2" align="center">
            <li value="5">
                <Text size="3" color="gray">5</Text>
                <Link href="#faqs" size="3" underline="hover" highContrast
                    >FAQs</Link
                >
            </li>
        </Flex>
        <Flex asChild gap="2" align="center">
            <li value="6">
                <Text size="3" color="gray">6</Text>
                <Link href="#contact" size="3" underline="hover" highContrast
                    >Contact details</Link
                >
            </li>
        </Flex>
    </ol>
</Flex>
