---
layout: _base.njk
title: About and how I work | Francesco Imola
description: I make complex stories a little less complex. Designer, copywriter and artist in Kent, working across UX, graphic design and trust-based marketing.
isFullWidth: true
eleventyNavigation:
  key: Home
---
<div class="flow has-gap-3xl">
    <header class="flow has-gap-xs">
        <h1>About</h1>
        <div class="flow has-gap-s" >
            <p>Originally from Italy, I come from a family of makers, artists, and business owners. As a child I dreamt first of becoming a magician, then of designing chairs. And while neither of those dreams came true, I didn’t land far off.</p>
            <p>I now live in Folkestone, on the Kent coast, but I was born in Italy in a land called Ciociaria. These days, I spend my time <a href="/studio/">making complex stories a little less complex</a>, and drawing people closer to good products, good services and good talent. </p>
            <div class="profile-picture_inner grid-cols-2-fixed has-my-xs">
                <img src="./assets/images/francesco-studio-shot.png" alt="Francesco Imola" width="2560" height="2560" class="ratio-1-1">
                <div></div>
            </div>
            <p>I graduated in Digital Arts from the University of Greenwich—which is where much of this all began—and I then spent six years between cultural institutions and the Film & TV industry. When I’m not busy solving problems, you’ll find me supporting fellow artists and volunteering with <a href="https://openartfolke.com" rel="noopener noreferrer" target="_blank">Open Art Folke</a>. Occasionally I write and make art myself with words and pixels.</p>
        </div>
    </header>
    <section class="flow has-gap-s">
        <h2>Philosophy</h2>
        <p>We live in turbulent times. There is an overabundance of information, and in the midst of this turmoil, I see designers taking on facilitator roles and helping people communicate ideas.</p>
        <p>When it comes to marketing, I specialise in the trust-based kind—or the art of building credibility and long-term relationships by being honest, helpful and consistent with your audience.</p>
    </section>
    <section class="flow has-gap-m" >
        <h2>Infrequently asked questions</h2>
        <div class="flow has-gap-s">
            <details>
                <summary>How do you think about design?</summary>
                <p>Your car, your phone, your dad's beloved charcoal barbecue that takes ages to heat up but, once it's hot, it really is a joy to cook with. Design is the lens through which we experience the world, and on a good day, my job is to shape those lenses by asking the question: how can I make this thing better, or more helpful?</p>
                <p>If I had to sum up my design manifesto:</p>
                <p>There's no good design without compromise. Good design is, in fact, all about choosing the right compromise for your audience. It may mean choosing to follow a trend, or to stick to the tried and tested, to be playful or to be serious, or to bend the process in your favour—skip the steps you deem unnecessary, start from the answer and work backwards, trust your gut, or make something for no better reason than to make someone smile.</p>
                <p>Good design is imperceptible, that is, it's harder to spot than bad design. And though it may be impossible to achieve, good design is always worth aiming for.</p>
            </details>
            <hr>
            <details>
                <summary>Why trust based marketing?</summary>
                <p>With so many people losing trust in the messages being pushed by mainstream marketing, an approach based on trust is how you get people to choose you, because, well, they trust you. Not because you manipulated them, chased them with an axe or pushed them to their limit.</p>
                <p>It's a vast and wild frontier that many marketers and brands have only begun to explore, and it's very much one of the pillars of my work. If you're looking for reassurance, for all one knows, it’s the approach also followed by brands like Oatly, Patagonia, and MUBI.</p>
                <p>To borrow the <a href="https://x.com/ungatedlife/status/1584621315998486528" rel="noopener noreferrer" target="_blank">words of Rob Hardy</a>, the main guy <a href="https://forest.quest/non-coercive-marketing-primer/" rel="noopener noreferrer" target="_blank">who championed the term</a>, "the big secret is that non-coercive marketing isn't actually about marketing at all, but instead about how we relate to ourselves and to others, and healing the wounds of distrust that ripple through generations."</p>
                <p>My work in this field incorporates everything I have learnt from working in marketing (mostly content and inbound), internal communications, exhibition design, and graphic design over the last 8 years.</p>
            </details>
            <hr>
            <details>
                <summary>Where do you stand on sustainability?</summary>
                <p>It took around 4.6 billion years for a cosmic swirl of gas and dust to become a planet suitable for birds and flowers and children. The last thing I want to do is devote my time to furthering its destruction any more than I already do by simply living. As such, in 2025, I joined Creatives for Climate, a global network of creative professionals who are putting their skills to work in the fight for the climate. I'm also a member of Good Folk, a collective that offers pro-bono support to charities with a lot on their plate. </p>
                <p>Although my practice is far from perfect, I see every project as an opportunity to shape the change I wish to see. And for the record, I will not work with clients in the fossil fuel sector, or those directly associated with this industry.</p>
            </details>
        </div>
    </section>
    <section class="flow has-gap-m-l" >
        <h2>Recognition</h2>

        <div class="flow has-gap-s">
            <h3 class="dimmed small">2026</h3>
            <dl class="data-list small">
                <div class="data-list__item">
                    <dt class="data-list__label">CSS Design Awards</dt>
                    <dd class="data-list__value">Special Kudos | francescoimola.com</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">CSS Design Awards</dt>
                    <dd class="data-list__value">Public Awards · Best UI, UX and Innovation | francescoimola.com</dd>
                </div>
            </dl>
        </div>

        <div class="flow has-gap-s">
            <h3 class="dimmed small">2023</h3>
            <dl class="data-list small">
                <div class="data-list__item">
                    <dt class="data-list__label">Read CV Feature</dt>
                    <dd class="data-list__value">Breaking free from the algorithm | Substack post</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">Read CV Feature</dt>
                    <dd class="data-list__value">I fell into a sustainable design rabbit hole | Substack post</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">Read CV Feature</dt>
                    <dd class="data-list__value">Everything you see is in the past | Exhibition Catalogue</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">Read CV Feature</dt>
                    <dd class="data-list__value">How to Feel More at Home | artwork · net art</dd>
                </div>
            </dl>
        </div>

        <div class="flow has-gap-s">
            <h3 class="dimmed small">2021</h3>
            <dl class="data-list small">
                <div class="data-list__item">
                    <dt class="data-list__label">Special Special</dt>
                    <dd class="data-list__value">How to Feel More at Home | artwork · net art</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">Harbor Review</dt>
                    <dd class="data-list__value">'Untitled(2)' | artwork · photography</dd>
                </div>
            </dl>
        </div>
    </section>
    <div class="flow has-gap-xs" >
        <h2>Have a question?</h2>
        <a href="/contact/" data-icon="arrow-right">Get in touch</a>
    </div>
</div>
<div class="profile-picture_outer grid-cols-2-fixed stick stick-pos-top" >
    <div aria-hidden="true"></div>
    <img src="./assets/images/francesco-studio-shot.png" alt="Francesco Imola" width="2560" height="2560" class="ratio-1-1">
</div>