---
layout: _base.njk
title: About and how I work | Francesco Imola
description: I make complex stories a little less complex. Designer, copywriter and artist in Kent, working across UX, graphic design and trust-based marketing.
isFullWidth: true
eleventyNavigation:
  key: Home
---
<div class="flow has-gap-3xl">
    <header class="flow has-gap-s">
        <h1>About</h1>
        <p>I come from a family of makers, artists, and business owners. As a child I dreamt first of becoming a magician, then of designing chairs. And while neither of those dreams came true, I didn’t land far off.</p>
        <p>I now live in Folkestone, on the Kent coast, but I was born in Italy in a land called Ciociaria. These days, I spend my time <a href="/studio/">making complex stories a little less complex</a>, and drawing people closer to good products, good services and good talent. </p>
        <div class="profile-picture_inner grid-cols-2-fixed has-my-xs">
            <img src="./assets/images/francesco-studio-shot.png" alt="Francesco Imola" width="2560" height="2560" class="ratio-1-1">
            <div></div>
        </div>
        <p>I graduated in Digital Arts from the University of Greenwich—which is where much of this started—and then spent six years between cultural institutions and the Film & TV industry. When I’m not busy solving high-stakes problems, you’ll find me <a href="/writing/">writing</a>, supporting fellow artists by volunteering with <a href="https://openartfolke.com" rel="noopener noreferrer" target="_blank">Open Art Folke</a>, and occasionally <a href="/art/">making art myself</a> with words and pixels.</p>
    </header>
    <section class="flow has-gap-s">
        <h2>Philosophy</h2>
        <p>We live in turbulent times. There is an overabundance of information, and in the midst of it I see designers taking on facilitator roles, aka helping people communicate.</p>
        <p>When it comes to marketing, I specialise in the trust-based kind—or the art of building credibility and long-term relationships by being honest, helpful and consistent with your audience.</p>
    </section>
    <section class="flow has-gap-s">
        <h2>I'm an agency, I want to hire you</h2>
            <p>It takes all sorts to make a world, and thank goodness for that! I keep an open door policy: I'm open to white-label or overflow briefs from agencies, and I'll consider in-house roles.</p>
            <a href="/collaborate/" data-icon="arrow-right">Here's what I can offer you</a>
    </section>
    <section class="flow has-gap-m" >
        <h2>Infrequently asked questions</h2>
        <div class="flow has-gap-s">
            <details>
                <summary>How do you think about design?</summary>
                <p>Your car, your phone, your dad's beloved charcoal barbecue that takes ages to heat up but, once it's hot, it really is a joy to cook with. Design is the lens through which we experience the world, and on a good day, my job is to shape those lenses by asking the question: how can I make this thing better, or more helpful?</p>
                <p>If I had to sum up my design manifesto, the synopsis would probably state "there is no good design without compromise". Good design is all about choosing the right trade-off for your audience, which may mean choosing to follow a trend, or sticking to the tried and tested, being playful or being dead serious, or bending the process in your favour. Compromise might also mean skipping the steps you deem unnecessary, starting from the answer and working backwards, trusting your gut, or making something for no better reason than to make someone smile.</p>
                <p>Ultimately, good design is imperceptible—that is, it's harder to spot than bad design. And though it may be impossible to achieve, good design is always worth aiming for.</p>
            </details>
            <hr>
            <details>
                <summary>Why trust based marketing?</summary>
                <p>With so many people losing trust in the messages being pushed by mainstream marketing, an approach based on trust is how you get people to choose you, because, well, they trust you. Not because you manipulated them, chased them with an axe or pushed them to their limit.</p>
                <p>It's a vast and wild frontier that many marketers and brands have only begun to explore, and it's very much one of the pillars of my work. If you're looking for reassurance, for all one knows, it’s the approach also followed by brands like Oatly, Patagonia, and MUBI.</p>
                <p>To borrow the <a href="https://x.com/ungatedlife/status/1584621315998486528" rel="noopener noreferrer" target="_blank">words of Rob Hardy</a>, the main guy <a href="https://forest.quest/non-coercive-marketing-primer/" rel="noopener noreferrer" target="_blank">who championed the term</a>, "the big secret is that non-coercive marketing isn't actually about marketing at all, but instead about how we relate to ourselves and to others, and healing the wounds of distrust that ripple through generations."</p>
                <p>My work in this field incorporates everything I have learnt from working in marketing (mostly content and inbound), internal communications, exhibition design, and graphic design over the last 8 years.</p>
            </details>
            <hr>
            <details>
                <summary>Are there any clients you wouldn't take on?</summary>
                <p>I'm not going to work with clients in the fossil fuel sector, or anyone who's directly tied to that industry. I'm not interested in areas like fast fashion, weight loss or gambling either.
                    <p>When it comes to working practices, I steer clear of briefs that call for dark design patterns, manipulative marketing, or anything that makes the user feel worthless in order to win a sale—though luckily these are becoming less common occurrences.</p>
                    <p>On the other hand, I get on best with folks who have something meaningful to share or who have spent a long time developing a solid product/service that they want to see succeed. This category includes charities, indie makers and small businesses with a long-standing presence.</p>
            </details>
        </div>
    </section>
    <section class="flow has-gap-m" >
        <h2>Recognition</h2>

        <div class="flow has-gap-s">
            <h3 class="dimmed small">2026</h3>
            <dl class="data-list small">
                <div class="data-list__item">
                    <dt class="data-list__label">CSS Design Awards</dt>
                    <dd class="data-list__value">Special Kudos | francescoimola.com</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">CSS Design Awards</dt>
                    <dd class="data-list__value">Public Awards · Best UI, UX and Innovation | francescoimola.com</dd>
                </div>
            </dl>
        </div>

        <div class="flow has-gap-s">
            <h3 class="dimmed small">2023</h3>
            <dl class="data-list small">
                <div class="data-list__item">
                    <dt class="data-list__label">Read CV Feature</dt>
                    <dd class="data-list__value">Breaking free from the algorithm | Substack post</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">Read CV Feature</dt>
                    <dd class="data-list__value">I fell into a sustainable design rabbit hole | Substack post</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">Read CV Feature</dt>
                    <dd class="data-list__value">Everything you see is in the past | Exhibition Catalogue</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">Read CV Feature</dt>
                    <dd class="data-list__value">How to Feel More at Home | artwork · net art</dd>
                </div>
            </dl>
        </div>

        <div class="flow has-gap-s">
            <h3 class="dimmed small">2021</h3>
            <dl class="data-list small">
                <div class="data-list__item">
                    <dt class="data-list__label">Special Special</dt>
                    <dd class="data-list__value">How to Feel More at Home | artwork · net art</dd>
                </div>
                <div class="data-list__item">
                    <dt class="data-list__label">Harbor Review</dt>
                    <dd class="data-list__value">'Untitled(2)' | artwork · photography</dd>
                </div>
            </dl>
        </div>
    </section>
    <section class="flow has-gap-s pretty" >
        <h2>About this website</h2>
        <div class="flow has-gap-s">
            <p>Picture a big and imperfect giant Venn diagram with lots of overlaps. That's what this site is to me. As you browse, the idea is that you'll slowly peel the layers off and discover the services I offer, what things I'm busy doing, and start to make out the general shape of my creative practice.</p>
            <p>I've taken steps to make this site as engaging and accessible as possible. I hope that comes across and that you'll find it useful.</p>
            <div class="flow has-gap-2xs">
                <a href="/about/colophon/" data-icon="arrow-right">How this website is built</a>
                <a href="/about/accessibility/" data-icon="arrow-right">Learn about its accessibility</a>
                <a href="https://github.com/francescoimola/rummikub" data-icon="arrow-ext" rel="noopener noreferrer" target="_blank">See the code on Github</a>
            </div>
        </div>
    </section>
    <section class="flow has-gap-s">
        <h2>Credits</h2>
        <div class="text">
            <ul class="flow has-gap-2xs">
                <li>The photo in this page is by <a href="https://mooiefeephotography.co.uk" target="_blank" rel="noopener noreferrer">Amy (Mooie Fee) Kolsteren</a>. The rest are mine.</li>
                <li>Illustration are by <a href="https://drands.atipoillustrations.com/page/about" target="_blank" rel="noopener noreferrer">Atipo</a>.</li>
                <li>The typeface in use is <a href="https://www.collletttivo.it/typefaces/ronzino" target="_blank" rel="noopener noreferrer">Ronzino</a> by Collletttivo.</li>
                <li>All graphic design is produced by me, and licensed to me only for marketing and promotional purposes. Please don't use any of the imagery on this site without permission.</li>
            </ul>
        </div>
    </section>
    <section class="flow has-gap-2xs tablet-only">
        <h2>Let's connect</h2>
        <ul class="flow has-gap-2xs">
                <li><a href="https://sublime.app/fran" target="_blank" rel="noopener noreferrer" data-icon="arrow-ext">Sublime</a></li>
                <li><a href="https://substack.com/@francescoimola" target="_blank" rel="noopener noreferrer" data-icon="arrow-ext">Substack</a></li>
                <li><a href="https://www.linkedin.com/in/francesco-imola/" target="_blank" rel="noopener noreferrer" data-icon="arrow-ext">Linkedin</a></li>
                <li><a href="/contact/" data-icon="arrow-ext">On straight up send me an email (I read them)</a></li>
        </ul>
    </section>
</div>
<div class="profile-picture_outer grid-cols-2-fixed stick stick-pos-top" >
    <div aria-hidden="true"></div>
    <div class="flow has-gap-s">
        <img src="./assets/images/francesco-studio-shot.png" alt="Francesco Imola" width="2560" height="2560" class="ratio-1-1">
        <ul class="flow has-gap-3xs">
                <li><a href="https://sublime.app/fran" target="_blank" rel="noopener noreferrer" data-icon="arrow-ext">Sublime</a></li>
                <li><a href="https://substack.com/@francescoimola" target="_blank" rel="noopener noreferrer" data-icon="arrow-ext">Substack</a></li>
                <li><a href="https://www.linkedin.com/in/francesco-imola/" target="_blank" rel="noopener noreferrer" data-icon="arrow-ext">Linkedin</a></li>
        </ul>
    </div>
   
</div>