---
layout: _base.njk
title: Artmaking
description: Net art, essays, poems, exhibitions, and other creative projects.
contentMode: contrast
isFullWidth: true
eleventyNavigation:
  key: Artmaking
  parent: Home
---
{% from "_split-row.njk" import splitRow %}
<div full-width class="flow has-gap-3xl-4xl">
  <header class="flow has-gap-xs balance">
    <h1>Artmaking</h1>
    <p style="max-inline-size: var(--inline-size)">I'm a maker of things made of words (poems, essays), pixels (photography, code, net art) and the collective making of meaning (resources and gatherings). This is a selection of my work from the last 11 years.</p>
  </header>
  {% for item in artProjects %}
    {{ splitRow(item) }}
  {% endfor %}
</div>
