---
layout: _base.njk
title: Artmaking and personal projects | Francesco Imola
description: Net art, poems, essays, photography and exhibitions about things hiding in plain sight. Eleven years of making things out of words and pixels.
contentMode: contrast
isFullWidth: true
eleventyNavigation:
  key: Artmaking
  parent: Home
---
{% from "_split-row.njk" import splitRow %}
<div full-width class="flow has-gap-3xl-4xl">
  <header class="flow has-gap-xs">
    <h1>Artmaking</h1>
    <p style="max-inline-size: var(--inline-size)">I make things out of words (poems and essays) and pixels (photography, code and net art). I also dabble in the art of getting people together to share ideas. Below is a selection of my work from the last 11 years.</p>
    <p style="max-inline-size: var(--inline-size)">The act of noticing and surfacing what's been hiding in plain sight—be it an everyday place, a mundane object, someone who doesn't get heard, or the infrastructure around us—is the thread that connects it all.</p> 
  </header>
  {% for item in artProjects %}
    {{ splitRow(item) }}
  {% endfor %}
</div>
