---
layout: _base.njk
title: Home
---
<section class="flow has-gap-s">
    <p>Designer by trade and marketer by general consensus. I'm strong in UX, copywriting, brand messaging, and the often unglamorous work of being reliable.</p>
    <p>Currently open to freelance and permanent opportunities.</p>
    <button aria-expanded="false" aria-controls="about-content" data-icon="arrow-right">Read more</button>
</section>
<div id="about-content" class="expandable flow has-gap-3xl">
    <section class="flow has-gap-s" data-headings="minimal">
        <h2>About</h2>
        <p>When I'm not busy solving problems, you'll find me supporting fellow artists through my work with <a href="https://www.openartfolke.com" rel="noopener noreferrer" target="_blank">Open Art Folke</a>.</p>
        <p>Before doing what I now do, I spent six years between cultural institutions and the Film &amp; TV industry. Broadly often doing the job of making complex realities a little less complex while drawing audiences closer to worthwhile ideas, services and creative talent. </p>
        <p>
        I graduated in Digital Arts from the University of Greenwich, which is where much of this all began.
        I'm now based in Folkestone, on the Kent coast, but I was born in Lazio, Italy, in a land called Ciociaria.</p>
    </section>
    <img src="./assets/images/francesco.png" alt="Francesco Imola" width="1200" height="1200">
    <section class="flow has-gap-m" data-headings="minimal">
        <h2>General questions</h2>
        <details>
            <summary>What makes the difference?</summary>
            <p>My hands-on approach, absolutely. I can handle virtually every aspect of every project—where possible. This means fewer variables, lower overheads for clients, and a more cohesive end product.</p>
            <p>The reason I can do this is that I'm no specialist. It is this very quality that enables me to: 1) forgo wearing blinkers, 2) see the big picture and 3) find unusual yet clever solutions to problems that my specialist colleagues—whom, it must be said, I have a great deal of respect for—might otherwise miss.</p>
        </details>
        <hr>
        <details>
            <summary>What's your approach to design?</summary>
            <p>We live in chaotic times. There is an overabundance of information, and in the midst of this chaos, I see designers taking on facilitator roles and helping people communicate ideas. This sometimes means that—for the sake of delivering a message, and doing it well—we as designers have to put our own egos and those of the decision-makers to one side.</p>
            <p>I also believe that design is an attitude. Good design is opinionated. Good design is choosing the right compromise for your audience. Good design is knowing when to bend the process in your favour. Skip steps when you deem them unnecessary. Backtrack when you're unsatisfied. Maybe start from the solution first, or operate on intuition, or make something just for the sake of making people smile. Good design understands the power of play, and knows when and how to use it. A good design is harder to spot than a poor one.</p>
        </details>
        <hr>
        <details>
            <summary>What kind of marketing do you specialise in?</summary>
            <p>Trust-based marketing. </p>
            <p>Which is essentially all about building credibility and long-term relationships with your audience by being honest, helpful and consistent. This is less of a specialty and more an approach, and it's the one also used by successful brands like Oatly Patagonia, Dove, and WeTransfer.</p>
            <p>In an era when an increasing number of people distrust or ignore traditional marketing messages, the trust-based approach encourages people to choose you because they, well, trust you. Not because you chased them or pushed them to their limit. My work in this area incorporates everything I have learnt from working in inbound marketing, internal comms, content, exhibition design, and graphic design over the last 8 years. </p>
        </details>
    </section>
    <section class="flow has-gap-s" data-headings="minimal">
        <h2>On sustainable actions</h2>
        <p>It took around 4.6 billion years for a cosmic swirl of gas and dust to become a planet suitable for birds and flowers and children. The last thing I want to do is devote my time to furthering its destruction. As such, in 2025, I joined Creatives for Climate, a global network of creative professionals who are putting their skills to work in the fight for the climate. I'm also a member of Good Folk, a collective that offers pro-bono support to charities with a lot on their plate. </p>
        <p>Although my practice is far from perfect, I see every project as an opportunity to shape the change I wish to see. And for the record, I will not work with clients in the fossil fuel sector, or those directly associated with this industry.</p>
    </section>
    <section class="flow has-gap-m" data-headings="minimal">
        <h2>Recognition</h2>

        <h3 class="subtitle">2026</h3>
        <dl class="data-list">
            <div class="data-list__item">
                <dt class="data-list__label">CSS Design Awards</dt>
                <dd class="data-list__value">Special Kudos | francescoimola.com</dd>
            </div>
            <div class="data-list__item">
                <dt class="data-list__label">CSS Design Awards</dt>
                <dd class="data-list__value">Public Awards · Best UI, UX and Innovation | francescoimola.com</dd>
            </div>
        </dl>

        <h3 class="subtitle">2023</h3>
        <dl class="data-list">
            <div class="data-list__item">
                <dt class="data-list__label">Read CV Feature</dt>
                <dd class="data-list__value">Breaking free from the algorithm | Substack post</dd>
            </div>
            <div class="data-list__item">
                <dt class="data-list__label">Read CV Feature</dt>
                <dd class="data-list__value">I fell into a sustainable design rabbit hole | Substack post</dd>
            </div>
            <div class="data-list__item">
                <dt class="data-list__label">Read CV Feature</dt>
                <dd class="data-list__value">Everything you see is in the past | Exhibition Catalogue</dd>
            </div>
            <div class="data-list__item">
                <dt class="data-list__label">Read CV Feature</dt>
                <dd class="data-list__value">How to Feel More at Home | artwork · net art</dd>
            </div>
        </dl>

        <h3 class="subtitle">2021</h3>
        <dl class="data-list">
            <div class="data-list__item">
                <dt class="data-list__label">Special Special</dt>
                <dd class="data-list__value">How to Feel More at Home | artwork · net art</dd>
            </div>
            <div class="data-list__item">
                <dt class="data-list__label">Harbor Review</dt>
                <dd class="data-list__value">'Untitled(2)' | artwork · photography</dd>
            </div>
        </dl>
    </section>
    <section class="flow has-gap-m" data-headings="minimal">
        <h2>Have a question?</h2>
        <div class="flow has-gap-xs">
            <p>Send me a message and we'll talk through everything.
            <p><a href="mailto:francesco@imola.dev">Copy email</a></p>
        </div>
    </section>
</div>
