---
layout: _base.njk
title: Home
isFullWidth: true
eleventyNavigation:
  key: Home
---

<section class="flow grid-responsive-cols has-gap-xs stick stick-pos-top" data-hero="true">
    <img src="./assets/images/francesco.png" alt="Francesco Imola" width="1080" height="auto" class="ratio-1-1">
    {% projectVideo "/assets/video/welcome_to_website.mp4",
    "notepad with welcome message being written on",
    webm = "/assets/video/welcome_to_website.webm" %}
</section>
<div class="flow has-gap-3xl">
    <section class="flow has-gap-s has-gap-s">
        <h1>Non-award winning designer, copywriter, and artist based in Kent.</h1>
        <p>My bread and butter are UX, graphic design, brand messaging, and the unglamorous art of saying it like it is.</p>
        <p>You may <a href="/studio">hire me</a> to make things look good, but the pride of my work is in learning your world from the inside, in walking you through the upheaval of a major transition, and in handing back, in the end, order where there was chaos.</p>
        <p>I'm currently open to freelance and permanent work.</p>
        <a href="/about/" data-icon="arrow-right">Read more</a>
    </section>
</div>
