---
layout: _base.njk
title: Web Designer, Copywriter & Artist in Kent | Francesco Imola
description: Unapologetically simple websites, words, and branding advice to help businesses and creatives grow. Based in Folkestone, Kent, and currently open to work.
isFullWidth: true
eleventyNavigation:
  key: Home
---

<section class="flow grid-responsive-cols has-gap-xs">
    <img src="./assets/images/francesco.png" alt="Francesco Imola" class="ratio-1-1">
    {% projectVideo "/assets/video/welcome_to_website.mp4",
    "notepad with welcome message being written on",
    webm = "/assets/video/welcome_to_website.webm",
    poster = "/assets/video/welcome_to_website.jpg",
    class = "duotone duotone-unless-green" %}
</section>
<div class="flow has-gap-3xl">
    <section class="flow has-gap-s has-gap-s">
        <h1>Designer, copywriter, and artist based in Kent.</h1>
        <p>You could <a href="/studio/">hire me</a> to make things look good, which is sensible, because first impressions are good for business. But what I’m most proud of is absorbing as much as I can about your world, and working closely with you to facilitate major transitions.</p>
        <p>My bread and butter are UX, graphic design, and brand messaging. In other words, I'm the person you call when you need to bring calm to the chaos.</p>
        <p>Currently open to freelance and permanent work.</p>
        <a href="/about/" data-icon="arrow-right">More about me</a>
    </section>
</div>
