---
layout: _base.njk
title: Studio Services
contentMode: contrast
---
<section class="flow has-gap-s">
    <h1>Services</h1>
    <p>Francesco Imola designs websites, writes copy, and makes marketing <s>simple</s> on a human scale. With this studio, I liberate people from restrictive marketing practices, and together we chart effective but less exhausting ways forward.</p>
    <p>In a world overflowing with content and distractions, I focus on doing less, better.</p>
</section>
<section class="flow has-gap-s has-counter" data-headings="highlight-h2">
    <h2 class="has-mb-xs-s">Where I can help</h2>
    <div class="card service flow has-gap-xs">
        <h3>Graphic & Web Design</h3>
        <p>I design great things from messy briefs and make it look easy. Website-wise, I’m bilingual in Figma, Webflow, Framer, HTML and CSS.</p>
        <a data-icon="arrow-right" href="/services/websites/">Learn more</a>
    </div>
    <div class="card service flow has-gap-xs">
        <h3>Website Consultations</h3>
        <p>Sense something isn't working, but don't know what exactly? A website consultation gives you what your therapist never could.</p>
        <a data-icon="arrow-right" href="/services/websites/">Learn more</a>
    </div>
    <div class="card service flow has-gap-xs">
        <h3>Copy and content writing</h3>
        <p>As long as you're willing for me to taint your name with odd lexicon and inaccurate sentence structure, I'm in</p>
        <span>Ad hoc&nbsp;<span style="display: inline-block; transform: scale(0.75); vertical-align: middle;">&bull;</span>&nbsp;<a data-icon="email" href="/services/websites/">Enquire</a>
        </span>
    </div>
</section>
<figure>
    <img src="./assets/images/outreach-card-oaf.png" alt="business card-adjacent print for Open Art Folke" width="1200" height="auto">
    <figcaption>Graphic design for Open Art Folke</figcaption>
</figure>
<section class="flow has-gap-s" data-headings="highlight-h2">
    <h2 class="has-mb-xs-s">Happy humans</h2>
    <div class="flow has-gap-xs">
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“I have never worked with someone so deeply reliable, who has gone above and beyond my expectations. The sheer detail, diligence and attention Fran has to his work is worth its weight in gold, tenfold! [...] He’s turned the weight on my shoulders into air.”</p>
            </blockquote>
            <figcaption>Cairo Woodward<br>Co-founder, <a href="https://www.theloftstudio.uk" target="_blank" rel="noopener noreferrer">The Loft</a>
            </figcaption>
        </figure>
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“Francesco has the rare talent of being able to embed himself in a niche that he previously knew nothing about, quickly understanding the intricacies and writing with the confidence of an insider.”</p>
            </blockquote>
            <figcaption>Rob Cowen<br>Founder, <a href="https://www.seatingplan.com" target="_blank" rel="noopener noreferrer">Mega Seating Plan</a>
            </figcaption>
        </figure>
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“Francesco provided excellent tech support and reassurance for a web project. He’s been very easy to work with.”</p>
            </blockquote>
            <figcaption>Liv Pennington<br>Artist &amp; Arts Programmer</figcaption>
        </figure>
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“Great to work with. Helped me to rework my website copy to align with a new direction I wanted to take. He’s quick and responsive.”</p>
            </blockquote>
            <figcaption>
                <a href="https://www.sarahyuklan.com/" target="_blank" rel="noopener noreferrer">Sarah Brown</a><br>Holistic Coach
            </figcaption>
        </figure>
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“A dream collaborator. Organised and strategic, he asks the right questions, does his research, and presents fantastic options.”</p>
            </blockquote>
            <figcaption>Carly Anchal<br>Marketing &amp; Talent Manager</figcaption>
        </figure>
    </div>
</section>
<figure>
    <img src="./assets/images/the_loft_offerings_section.png" alt="business card-adjacent print for Open Art Folke" width="1200" height="auto">
    <figcaption>Website design for The Loft</figcaption>
</figure>
<section class="flow has-gap-s" data-headings="highlight-h2">
    <h2 class="has-mb-xs-s">Who I can help</h2>
    <p>
        <span class="has-text-bold">Social enterprises</span> who need quality work to strengthen their reputation and keep their community better informed.</p>
    <p>
        <span class="has-text-bold">Small businesses</span> who’ve grown past the point where operating on sloppy marketing and graphic design is acceptable.</p>
    <p>
        <span class="has-text-bold">Makers and freelancers</span> who’ve wasted enough time DIYing their way through problems.</p>
</section>
<section class="card featured flow has-gap-xs"  data-headings="minimal">
    <h2>I can help</h2>
    <p>Book a free intro call to chat about your project and how I can help.</p>
    <a data-icon="phone" href="https://cal.com/francescoimola/intro">Book free intro call</a>
    <a data-icon="arrow-right" href="mailto:francesco@imola.dev">Copy email instead</a>
</section>