---
layout: _base.njk
title: Studio Services
contentMode: contrast
---
<section class="flow has-gap-s">
    <h1>Services</h1>
    <p>Francesco Imola designs websites, writes copy, and makes marketing <s>simple</s> on a human scale. With this studio, I liberate people from restrictive marketing practices, and together we chart effective but less exhausting ways forward.</p>
    <p>In a world overflowing with content and distractions, I focus on doing less, better.</p>
</section>
<section class="flow has-gap-xl has-counter">
    <h2>Where I can help</h2>
    <div class="service flow has-gap-s">
        <h3>Graphic & Web Design</h3>
        <p>I design great things from messy briefs and make it look easy. Website-wise, I’m bilingual in Figma, Webflow, Framer, HTML and CSS.</p>
        <a data-icon="arrow-right" href="/services/websites/">Learn more</a>
    </div>
    <div class="service flow has-gap-s">
        <h3>Website Consultations</h3>
        <p>Sense something isn't working, but don't know what exactly? A website consultation gives you what your therapist never could.</p>
        <a data-icon="arrow-right" href="/services/websites/">Learn more</a>
    </div>
    <div class="service flow has-gap-s">
        <h3>Copy and content writing</h3>
        <p>As long as you're willing for me to taint your name with odd lexicon and inaccurate sentence structure, I'm in</p>
        <span>Ad hoc&nbsp;<span style="display: inline-block; transform: scale(0.75); vertical-align: middle;">&bull;</span>&nbsp;<a data-icon="email" href="/services/websites/">Enquire</a></span>
    </div>
</section>
<img src="./assets/images/outreach-card-oaf.png" alt="business card-adjacent print for Open Art Folke" width="1200" height="auto" class="img-padded">