---
layout: _base.njk
title: Design Studio
contentMode: contrast
eleventyNavigation:
  key: Design Studio
  parent: Home
---
{% from "_service-card.njk" import serviceCard %}
{% from "_cta-card.njk" import ctaCard %}
<div view-animation="settle" style="margin-bottom: calc(-1 * var(--space-l))" class="card">
    {% projectVideo "/assets/video/work_showreel.mp4",
        "screenshots of selected projects and work in slideshow",
        webm = "/assets/video/work_showreel.webm" %}
        <h1 class="has-mt-s-m">Pretty good marketing, on a human scale<br><span class="dimmed">Francesco Imola writes and designs websites + marketing assets</span></h1>
</div>
<section class="flow has-gap-s has-counter pretty" highlight-header>
    <h2 class="has-mb-xs">Where I can help</h2>
    <p class="has-mb-s">Together we will literally and metaphorically break free from suffocating marketing practices, and chart a simpler, less exhausting way forward.</p>
    {{ serviceCard("Web & Graphic Design", "/studio/design/", "Proceed with caution: this service involves slicing through the nonsense and giving your people what they've been missing.") }}
    {{ serviceCard("Website Consultations", "/studio/consultations/", "Sense something isn't working, but don't know what exactly? A website consultation gives you what your therapist never could.") }}
</section>
<section class="flow has-gap-s pretty" highlight-header>
    <h2 class="has-mb-xs">Ad hoc</h2>
    {{ serviceCard("Copy and content writing", "mailto:hi@francescoimola.com", "Have a bunch of ideas you've been meaning to publish? Want your entire website rewritten? I can take half formed drafts and turn them into fully fleshed, SEO friendly content that sings to the hearts of your people.", type = "accordion") }}
    {{ serviceCard("Email guidance", "mailto:hi@francescoimola.com", "Get 1:1 help via email and see things from a new perspective. Let's work on your strategy, website, newsletter, or branding. Guidance is tailored to you, and informed by my 8+ years in marketing and the creative industries." , type = "accordion") }}
</section>
<figure view-animation="breakout">
    <img src="/assets/portfolio/outreach-card-oaf.png" alt="business card-adjacent print for Open Art Folke" width="1080" height="auto">
    <figcaption>Graphic design for Open Art Folke</figcaption>
</figure>
<section class="flow has-gap-s" highlight-header>
    <h2 class="has-mb-xs">Happy humans</h2>
    <div class="flow has-gap-xs">
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“I have never worked with someone so deeply reliable, who has gone above and beyond my expectations. The sheer detail, diligence and attention Fran has to his work is worth its weight in gold, tenfold! [...] He’s turned the weight on my shoulders into air.”</p>
            </blockquote>
            <figcaption>Cairo Woodward<br>Co-founder, <a href="https://www.theloftstudio.uk" target="_blank" rel="noopener noreferrer">The Loft</a>
            </figcaption>
        </figure>
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“Francesco has the rare talent of being able to embed himself in a niche that he previously knew nothing about, quickly understanding the intricacies and writing with the confidence of an insider.”</p>
            </blockquote>
            <figcaption>Rob Cowen<br>Founder, <a href="https://www.seatingplan.com" target="_blank" rel="noopener noreferrer">Mega Seating Plan</a>
            </figcaption>
        </figure>
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“Francesco provided excellent tech support and reassurance for a web project. He’s been very easy to work with.”</p>
            </blockquote>
            <figcaption>Liv Pennington<br>Artist &amp; Arts Programmer</figcaption>
        </figure>
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“Great to work with. Helped me to rework my website copy to align with a new direction I wanted to take. He’s quick and responsive.”</p>
            </blockquote>
            <figcaption>
                <a href="https://www.sarahyuklan.com/" target="_blank" rel="noopener noreferrer">Sarah Brown</a><br>Holistic Coach
                </figcaption>
        </figure>
        <figure class="card outline flow has-gap-s">
            <blockquote>
                <p>“A dream collaborator. Organised and strategic, he asks the right questions, does his research, and presents fantastic options.”</p>
            </blockquote>
            <figcaption>Carly Anchal<br>Marketing &amp; Talent Manager</figcaption>
        </figure>
    </div>
</section>
<figure view-animation="breakout">
    <img src="/assets/portfolio/the_loft_offerings_section.png" alt="business card-adjacent print for Open Art Folke" width="1080" height="auto">
    <figcaption>Website design for The Loft</figcaption>
</figure>
<section class="flow has-gap-m pretty" highlight-header>
    <h2>People I tend to help</h2>
    <ul class="flow has-gap-xs pretty">
            <li class="card">
                <strong>Social enterprises</strong><span class="dimmed"><br>→ The quality of your marketing is undermining your reputation among donors and the community your serve.</span>
            </li>
            <li class="card"><strong>Small businesses</strong><span class="dimmed"><br>→ You have grown past the point where operating on sloppy (let alone AI-generated) copywriting and design is still acceptable.</span></li>
            <li class="card"><strong>Makers and freelancers</strong><span class="dimmed"><br>→ You have DIYed your way through problems alright so far, but you got sucked in too deep. You need a hand to pull you out.</span></li>
        </ul>
 </section>
{{ ctaCard(
        "Book a free intro call",
        "Tell me about your project and I'll tell you about how I work. In just 20 mins, we'll know if I'm able to help and roughly how much it'll cost.",
        callLabel = "Schedule free intro call",
        emailLabel = "Copy email instead"
    ) }}