---
layout: _base.njk
contentMode: contrast
title: Selected Work | Francesco Imola
description: A selection of projects and concepts born, more or less, at that notorious intersection where marketing and design first compete and then walk hand in hand.
isFullWidth: true
eleventyNavigation:
  key: Home
---
{% from "_project-item.njk" import projectItem %}
<div full-width class="flow has-gap-xl-2xl">
  <h1 class="sr-only">Selected Work</h1>
    <h2>Featured</h2>
  <div full-width class="flow has-gap-2xl-m">
    {% for project in collections.workFeatured %}
      {{ projectItem(project.data.title, project.data.services, project.data.image, project.data.alt, project.url or "") }}
    {% endfor %}
  </div>

  <div class="has-mt-2xl">
    <hr class="tablet-only has-mb-xs">
    <h2>Index</h2>
  </div>
  <div full-width class="flow has-gap-2xl-m">
    {% for project in collections.workIndex %}
      {{ projectItem(project.data.title, project.data.services, project.data.image, project.data.alt, project.url or "") }}
    {% endfor %}
  </div>
</div>
